.jobSelectWrapper {
  position: relative;
}

.jobSelect {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.jobSelectTrigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f0efef;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease;
}

.jobSelectTrigger .arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
}

.jobOptions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  z-index: 10;
}

.jobSelect:hover .jobOptions {
  display: flex;
}

.jobOption {
  padding: 10px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.jobOption:hover,
.jobOption.selected {
  background-color: #007BFF;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tbody tr td {
  text-align: center;
}

tbody tr td:has(.candidateProfileImg) {
  text-align: left;
}

td:has(.candidateProfileImg) {
  display: flex;
  align-items: center;
}

.candidateProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

h3 {
  font-weight: bold;
}

.yes {
  color: green;
}

.no {
  color: red;
}

.permanent {
  color: teal;
}

.contract {
  color: gray;
}

.sortByDropdown {
  min-width: 200px;
}

.jobTitleDropdown {
  min-width: 200px;
}

.jobIdDropdown {
  min-width: 100px;
}

.clearChatBroom {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #ffffff;
  border-radius: 4px;
  z-index: 1;
}

.candidatesSummary {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
}

.candidatesSummaryTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.tableHeader {
  overflow-y: auto;
}

.tableBody {
  display: block;
  max-height: 270px; /* Set the maximum height */
  min-height: 270px; /* Set the minimum height */
  overflow-y: auto; /* Make the table body scrollable */
  width: 100%;
}

.candidateTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensure the table layout is fixed */
}

.candidateTable th,
.candidateTable td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.candidateTable th {
  background-color: #f9f9f9;
}

.candidateTable td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.candidateNameCell {
  display: flex;
  align-items: center;
  max-width: none; /* Remove the maximum width constraint */
}

.candidateProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Scrollbar styles for Firefox */
.tableBody {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Scrollbar styles for WebKit browsers */
.tableBody::-webkit-scrollbar {
  width: 12px;
}

.tableBody::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.tableBody::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.tableBody::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Modal styles */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 50%; /* Set the width to 50% of the screen */
  height: 98%; /* Set the height to 80% of the screen */
  max-width: none; /* Remove the maximum width constraint */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.resume{
  height: 100%;
}

/* Modal header styles */
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modalHeader h2 {
  flex-grow: 1;
  text-align: center;
  font-size: 36px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.modalHeader button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* New button styles */
.modalHeader {
  position: relative;
}

.modalHeader a {
  width: 50px; /* Scaled down to 50px */
  height: 50px; /* Scaled down to 50px */
  position: absolute;
  right: 10px; /* Move to the right side */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  background-color: #ffffff;
  border-radius: 25px; /* Adjusted for new size */
  opacity: 1;
  transition: all .4s cubic-bezier(.215,.61,.355,1);
  box-shadow: 0px 0px 15px 0px #51e3fa; /* Adjusted for new size */
}

.modalHeader a > span {
  background-color: #1098ad;
  display: block;
  height: 6px; /* Scaled down to 6px */
  border-radius: 3px; /* Adjusted for new size */
  position: relative;
  transition: all .4s cubic-bezier(.215,.61,.355,1);
  position: absolute;
  top: 50%;
  margin-top: -3px; /* Adjusted for new size */
  left: 9px; /* Adjusted for new size */
  width: 32px; /* Scaled down to 32px */
  display: flex;
  justify-content: space-between;
}
/* 
.modalHeader a > span span{
  display: block;
  background-color: #ed7f00;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  transition: all .4s cubic-bezier(.215,.61,.355,1);
  position: absolute;
  left: 0;
  top: 0;
} */

/* .modalHeader a > span span.circle-left,
.modalHeader a > span span.circle-right {
  display: block;
  background-color: #ed7f00;
  width: 6px;
  height: 6px; 
  border-radius: 3px;
  transition: all .4s cubic-bezier(.215,.61,.355,1);
  position: absolute;
} */

.modalHeader a > span.left {
  transform: rotate(45deg);
  transform-origin: center;
}

/* .modalHeader a > span.left .circle-left {
  transition: all .4s cubic-bezier(.215,.61,.355,1);
  margin-left: 0;
}

.modalHeader a > span.left .circle-right {
  transition: all .4s cubic-bezier(.215,.61,.355,1);
  margin-left: 26px;
} */

.modalHeader a > span.right {
  transform: rotate(-45deg);
  transform-origin: center;
}

/* .modalHeader a > span.right .circle-left {
  transition: all .4s cubic-bezier(.215,.61,.355,1);
  margin-left: 0;
}

.modalHeader a > span.right .circle-right {
  transition: all .4s cubic-bezier(.215,.61,.355,1);
  margin-left: 26px; 
} */

.modalHeader a:hover > span {
  background-color: #1A1A2E;
  transition: all .4s cubic-bezier(.215,.61,.355,1);
}

/* .modalHeader a:hover > span span.circle-left,
.modalHeader a:hover > span span.circle-right {
  transition: all .4s cubic-bezier(.215,.61,.355,1);
  background-color: #008ac9;
}

.modalHeader a:hover > span.left .circle-left {
  transition: all .4s cubic-bezier(.215,.61,.355,1);
  margin-left: 26px; 
}

.modalHeader a:hover > span.left .circle-right {
  transition: all .4s cubic-bezier(.215,.61,.355,1);
  margin-left: 0;
}

.modalHeader a:hover > span.right .circle-left {
  transition: all .4s cubic-bezier(.215,.61,.355,1);
  margin-left: 26px; 
}

.modalHeader a:hover > span.right .circle-right {
  transition: all .4s cubic-bezier(.215,.61,.355,1);
  margin-left: 0;
} */